<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">




	
	<bean id="dataSourceTsi" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/VASJNDI" />
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/RCLJNDI" />
	</bean>


	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Transaction manager for a single JDBC DataSource (alternative to JTA) -->
	<bean id="transactionManager2"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceTsi" />
	</bean>
	<bean class="com.rclgroup.dolphin.web.common.RrcApplicationContextWS"></bean>


	<bean id="rcmUserDao" class="com.rclgroup.dolphin.web.dao.rcm.RcmUserJdbcDao">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="authDao" class="com.rclgroup.dolphin.web.auth.dao.AuthJdbcDao">
		<property name="dataSource" ref="dataSourceTsi" />
	</bean>
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="Throwable" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor
			pointcut="execution(public * com.rclgroup.dolphin.web.dao.*.*Dao.*(..))"
			advice-ref="transactionAdvice" />
	</aop:config>

	<tx:advice id="transactionAdvice2" transaction-manager="transactionManager2">
		<tx:attributes>
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="Throwable" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor
			pointcut="execution(public * com.rclgroup.dolphin.web.dao.*.*Dao.*(..))"
			advice-ref="transactionAdvice2" />
	</aop:config>


</beans>