/*-----------------------------------------------------------------------------------------------------------  
rcl.css
------------------------------------------------------------------------------------------------------------- 
Copyright RCL Public Co., Ltd. 2018 
-------------------------------------------------------------------------------------------------------------
Author various
- Change Log ------------------------------------------------------------------------------------------------  
## DD/MM/YY -User-     -TaskRef-  -Short Description
01 08/01/2019 aschey1             added .ui-datepicker span, previously someone had added padding to all span
02 16/01/2019 aschey1             added rcl-modal to block a page against input when a dialog flow was used
03 26/01/2019 aschey1             added rcl_message,rcl_messageCode better support mesage box  
04 18/02/2019 aschey1             added rclPopover.. styles for popover dialog
05 01/03/2019 aschey1             performance improvement of openLookup
06 ../11/2019 aschey1             right align numbers
07 ../../2019 dgs project         vertical align checkboxes
08 09/02/2020 aschey1             MultiSelect classes
09 09/01/2020 aschey1             Slider+Spinner classes
10 25/01/2020 aschey1             RadioGroup classes
-------------------------------------------------------------------------------------------------------------*/
/*
Classes to support PowerTable
.rptOddRow		Even number rows in a PowerTable
.rptEvenRow		Odd  number rows in a PowerTable

Classes to support dialog flow
.rcl-modal          blocks a page against input when a 2Tab flow was used until it returns

Classes to support RCL Power Table paging
.rptPgBtn            paging buttons of RCL Power Table showing page number or top, bottom
.rptPgGotoLabel      the label for the goto field
.rptPgGotoField      the field to enter the goto page
.rptPgIndicator      the indicator showing the active page and the total number of pages

Classes to support the lookup dialog of RCL Power Table
.rclLookupDlgBtn        buttons on lookup dialog of RCL Power Table 
.rclDlgSortDirectionBtn buttons for sort ascending/descending
.rptSortBtnColor

Classes to support drop down menues e.g. for open ticket and code review
.rcl-dropdown-content

Classes to support message boxes
.rcl-message
.rcl-messageCode

Classes to support sliders
.rcl-slider...

Classes to support radio groups
.rcl-radio...

Classes to support spinners
.rcl-spinner...

Classes to support multiSelect
.selectize-... These classes overwrite selectize.css and default.selectize.css

Classes for the improved column model
.col-0x5         A column whose width is 0.5 x col-1
.offset-0x5      A column whose offset is 0.5 x offset-1
*/
body {
	width: 100%; height: 100%; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
}
.rcl-standard-page-header {
	border-radius: 0rem; text-align: left; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; border-bottom-color: rgb(30, 12, 134); border-bottom-width: 2px; border-bottom-style: solid; background-color: rgb(61, 119, 203);
}
.rcl-standard-page-header-2 {
	border-radius: 0rem; text-align: right; color: rgb(255, 255, 255); padding-right: 5px; font-size: 9px; background-color: gray;
}
.rcl-standard-navigation-bar {
	text-align: left; color: rgb(12, 11, 11); font-weight: bold; border-bottom-color: rgb(51, 71, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.rcl-standard-navigation-bar-tab {
	padding: 0.1rem; border-radius: 0.2rem; width: 150px; text-align: center; color: rgb(12, 11, 11); font-weight: bold;
}
li a:hover {
	border-left-color: rgb(51, 71, 255); border-left-width: 4px; border-left-style: solid; background-color: rgb(214, 223, 253);
}
#tabs .nav-tabs .nav-item.show .nav-link {
	color: rgb(255, 255, 255); background-color: rgb(61, 119, 203);
}
.nav-tabs .nav-link.active {
	color: rgb(255, 255, 255); background-color: rgb(61, 119, 203);
}
.rcl-standard-search-header {
	padding: 0.5rem; text-align: left; color: rgb(12, 11, 11); font-weight: bold; margin-bottom: 0rem; background-color: rgb(244, 245, 247);
}
.rcl-standard-search-result {
	padding: 0.5rem; text-align: left; color: rgb(12, 11, 11); font-weight: normal; margin-bottom: 0rem;
}
.rcl-standard-search-font {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}
.rcl-standard-component {
	border-radius: 0.2rem; border: 1px solid rgb(51, 102, 255); border-image: none; width: 100%;
}
input {
	border-radius: 0.2rem; border: 1px solid rgb(51, 102, 255); border-image: none; width: 100%;
}
.styled-select select {
	border-width: 0px 0px 0px 4px; border-style: solid; border-color: rgb(51, 102, 255); border-radius: 0.2rem; border-image: none; width: 100%;
}
input:required {
	border-left-color: rgb(255, 51, 51); border-left-width: 4px; border-left-style: solid;
}
/* Decoration for required select */
select:required {
	border-left-color: rgb(255, 51, 51); border-left-width: 4px; border-left-style: solid;
}
/* Enable select to be displayed the same as disabled input */
select[data-dis] {
	border: 0px currentColor; border-image: none; color: rgb(84, 84, 84); text-indent: 0.01px; padding-left: 5px; pointer-events: none; background-color: rgb(232, 232, 232); -webkit-appearance: none; -moz-appearance: none;
}
/* Enable select to be displayed the same as readonly input */
select[data-rdo] {
	border: 0px currentColor; border-image: none; color: black; text-indent: 0.01px; padding-left: 5px; pointer-events: none; background-color: rgb(232, 232, 232); -webkit-appearance: none; -moz-appearance: none;
}
/* Enable textarea to be displayed the same as readonly input */
textarea:read-only {
    border: 0px;
    background-color: #E8E8E8;
    padding-left: 5px;
}
input:disabled {
	border: 0px currentColor; border-image: none; padding-left: 5px; background-color: rgb(232, 232, 232);
}
input:read-only {
    border: 0px;
    background-color: #E8E8E8;
    padding-left: 5px;
}
input[type=checkbox] {
	width: auto; margin-top: 10px; margin-left: 5px; position: relative; cursor: pointer;
}
input[type=date]:disabled {
	height: 15px;
}
input[type=date]:read-only {
    display: -webkit-inline-box !important;
    height: 15px;
} 
input[type=time]:disabled {
	height: 15px;
}
input[type=time]:read-only {
    display: -webkit-inline-box !important;
    height: 15px;
}
/* rcl:text in grid */
.tblRow .gridRow input:read-only {
	background-color: transparent;
	padding-left: 0px; 
}
.tblRow .gridRow select[data-rdo] {
	padding-left: 0px; background-color: transparent;
}
.rcl-standard-form-control {
	padding: 1px;
}
.rcl-standard-input-wrapper {
	position: relative;
}
/* Positioning icon behind input */
.rcl-standard-input-wrapper i {
	top: 2px; right: 5px; color: black; font-size: 14px; position: absolute;
}
/* To fix tooltip color */
a[data-toggle='tooltip'] {
	color: black;
}
i {
	font-size: 14px; cursor: pointer;
}
.rcl-standard-button {
	background: rgb(134, 135, 139); padding: 0px 15px; border-radius: 0.2rem; border: 0px currentColor; border-image: none; width: auto; height: 18px; color: rgb(255, 255, 255); font-weight: normal; box-shadow: 1px 1px 5px 0px rgba(163,163,163,1); -webkit-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1);
}
.rcl-standard-button:hover {
	color: rgb(61, 119, 203); cursor: pointer; background-color: rgb(214, 223, 253);
}
.rcl-standard-table {
	width: 95%; color: rgb(0, 0, 0); font-size: 11px; font-weight: normal; border-collapse: collapse; background-color: rgb(212, 225, 245);
}
.rcl-standard-input-icon {
	left: 170px; top: calc(50% - 0.5em); position: absolute;
}
.ui-datetimepicker {
	background: rgb(47, 153, 180); padding: 0.2em 0.2em 0px; width: 17em; display: none;
}
.hidden {
	display: none;
}
.ajax_loader {
	background: rgba(0, 0, 0, 0.5); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.ajax_loader i {
	left: 50%; top: 50%; position: absolute;
}
label {
	margin-bottom: 0px;
}
.row {
	padding-bottom: 5px;
}
.rcl-hr {
	margin-top: 5px; margin-bottom: 5px;
}
.rcl-standard-widget-header {
	border-radius: 0rem; height: 25px; text-align: left; color: white; padding-top: 3px; padding-left: 3px; font-weight: bold; border-bottom-color: rgb(30, 12, 134); border-bottom-width: 2px; border-bottom-style: solid; background-color: rgb(61, 119, 203);
}
.rcl-standard-button-header {
	background: lightgrey; border-radius: 0.2rem; border: 0px currentColor; border-image: none; width: auto; height: 18px; color: black; font-weight: normal;
}
.rcl-standard-button-header:hover {
	color: rgb(61, 119, 203); cursor: pointer; background-color: rgb(214, 223, 253);
}
.rcl-standard-version-header {
	text-align: right; color: rgb(12, 11, 11); padding-right: 5px; font-size: 9px; background-color: rgb(244, 245, 247);
}
.rcl-tableLeftSub {
	background: rgb(233, 231, 215); height: 20px; text-align: left; color: rgb(0, 51, 153); padding-left: 2px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 70%; font-weight: normal; vertical-align: middle; border-top-color: rgb(106, 120, 150); border-bottom-color: rgb(106, 120, 150); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.rcl-tableLeftText {
	background: rgb(62, 113, 204); height: 20px; text-align: left; color: rgb(255, 255, 255); padding-left: 2pc; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 105%; font-weight: bold; vertical-align: middle;
}
.tblArea {
	padding-left: 15px;
}
/*Adjust position of expand/collapse icon in header*/
.rcl-standard-widget-header > span {
	padding: 0px 15px; margin-bottom: 15px;
}
.container-fluid {
	margin-right: 0px; margin-left: 0px;
}
/* Hover on Edit icon*/
.fa-edit:hover {
	cursor: pointer;
}
/* Classes to support all the JQuery based dialogs */
.ui-dialog {
	font-size: 10px;
}
/*ensures that JQuery datepicker is working in modal dialogs*/
#ui-datepicker-div {
	z-index: 1003 !important;
}
/* ensures proper display of datepicker, someone has once increased padding for span */
.ui-datepicker span {
	padding: 0pc 0px 0px;
}

/*###02 BEGIN*/
.rcl-modal {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; display: block; position: fixed; z-index: 1004; background-color: rgba(196, 196, 196, 0.4);
}
/*###02 END */
/*The dropdown menue for open ticket, code review etc*/
.rcl-dropdown-content {
	left: 400px; top: 50px; overflow: auto; display: none; position: absolute; z-index: 100; min-width: 80px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color: rgb(241, 241, 241);
}
.rcl-dropdown-content a {
	padding: 5px; color: black; text-decoration: none; display: block;
}
.rcl-dropdown-content a:hover {
	background: darkgray; color: white;
}
/*the indicator showing the active page and the total number of pages*/
.rptPgIndicator {
	border-color: lightgray; width: 200px; padding-bottom: 3px; padding-left: 4px; margin-top: 7px;
}
/*the field on the paging area where to enter the page number I want to go*/
.rptPgGotoField {
	width: 50px; padding-bottom: 3px; padding-left: 4px; margin-top: 3px;
}
/* paging button of RCL Power Table */
.rptPgBtn {
	background: rgb(134, 135, 139); border-radius: 0.2rem; color: rgb(255, 255, 255); font-family: Arial; font-size: 10px; font-weight: normal; text-decoration: none; display: inline-block; cursor: pointer; box-shadow: 1px 1px 5px 0px rgba(163,163,163,1); text-shadow: 0px 1px 0px #528ecc; -webkit-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
/* buttons on lookup dialog of RCL Power Table */
.rclLookupDlgBtn {
	background: rgb(134, 135, 139); border-radius: 0.2rem; color: rgb(255, 255, 255); font-family: Arial; font-size: 10px; font-weight: normal; text-decoration: none; display: inline-block; cursor: pointer; box-shadow: 1px 1px 5px 0px rgba(163,163,163,1); text-shadow: 0px 1px 0px #528ecc; -webkit-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
/* paging button of RCL Power Table */
.rptPgBtn {
	padding: 1px 2px; width: 25px; text-align: center; margin-left: 2px;
}
/* buttons on lookup dialog of RCL Power Table */
.rclLookupDlgBtn {
	padding: 5px 6px;
}
.rptPgBtn:hover {
	color: rgb(61, 119, 203); text-decoration: none; cursor: pointer; background-color: rgb(214, 223, 253);
}
.rclLookupDlgBtn:hover {
	color: rgb(61, 119, 203); text-decoration: none; cursor: pointer; background-color: rgb(214, 223, 253);
}
.rptPgBtn:active {
	top: 1px; position: relative;
}
.rclLookupDlgBtn:active {
	top: 1px; position: relative;
}
.rptPgBtn:focus {
	border-radius: 5px; border: 2px dotted whitesmoke; border-image: none;
}
.rptPgBtn.noPointer {
	background: rgb(121, 187, 255); pointer-events: none;
}
/* Paging of RCL Power Table, The label for the goto field*/
.rptPgGotoLabel {
	background: rgb(134, 135, 139); padding: 1px 2px; border-radius: 0.2rem; width: 40px; text-align: center; color: rgb(255, 255, 255); font-family: Arial; font-size: 10px; font-weight: normal; text-decoration: none; margin-right: 5px; display: inline-block; cursor: pointer; box-shadow: 1px 1px 5px 0px rgba(163,163,163,1); text-shadow: 0px 1px 0px #528ecc; -webkit-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.rptPgGotoLabel:hover {
	color: rgb(61, 119, 203); text-decoration: none; cursor: pointer; background-color: rgb(214, 223, 253);
}
.rptPgGotoLabel:active {
	top: 1px; position: relative;
}
/* Classes to support the search and paging dialog of RCL Power Table*/
.rclDlgSortDirectionBtn {
	background: linear-gradient(rgb(249, 249, 249) 5%, rgb(233, 233, 233) 100%) rgb(249, 249, 249); padding: 1px 2px; border-radius: 6px; border: 1px solid rgb(220, 220, 220); border-image: none; color: rgb(102, 102, 102); font-family: Arial; font-size: 10px; text-decoration: none; display: inline-block; cursor: pointer; box-shadow: inset 0px 1px 0px 0px #ffffff; text-shadow: 0px 1px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.rclDlgSortDirectionBtn:hover {
	background: linear-gradient(rgb(233, 233, 233) 5%, rgb(249, 249, 249) 100%) rgb(233, 233, 233);
}
.rclDlgSortDirectionBtn:active {
	top: 1px; position: relative;
}
.rptSortBtnHighlight {
    background: linear-gradient(rgb(68, 199, 103) 5%, rgb(92, 191, 42) 100%) rgb(68, 199, 103); 
    padding: 1px !important; /* !important required since _spacing.scss overwrites with own important*/
    border-radius: 28px; border: 2px solid rgb(24, 171, 41); border-image: none; text-align: center; 
    color: red !important; /* !important required since _text-emphasis.scss overwrites with own important*/
    font-family: Arial; font-size: 10px; text-decoration: none; display: inline-block; cursor: pointer; text-shadow: 0px 1px 0px #2f6627; -moz-border-radius: 28px; -webkit-border-radius: 28px;
}
.rptSortBtnHighlight:hover {
	background: linear-gradient(rgb(92, 191, 42) 5%, rgb(68, 199, 103) 100%) rgb(92, 191, 42);
}
.rptSortBtnHighlight:active {
	top: 1px; position: relative;
}
.rptSortBtnColor {
    padding: 1px !important; /* !important required since _spacing.scss overwrites with own important*/
    border-radius: 28px; border: 1px solid rgb(204, 194, 166); border-image: none; text-align: center; font-family: Arial; font-size: 10px; text-decoration: none; display: inline-block; cursor: pointer; text-shadow: 0px 0px 0px #2f6627; -moz-border-radius: 28px; -webkit-border-radius: 28px;
}
.rptSortBtnColor:hover {
	background: linear-gradient(rgb(92, 191, 42) 5%, rgb(68, 199, 103) 100%) rgb(92, 191, 42);
}
.rptSortBtnColor:active {
	top: 1px; position: relative;
}
/* The following is the improved column model
col-0x5 means: A column whose width is 0.5 x col-1*/
.col-0x25 {
	flex:0 0 2.08%; max-width: 2.08%;
}
.offset-0x25 {
	margin-left: 2.08%;
}
.col-0x5 {
	flex:0 0 4.16%; max-width: 4.16%;
}
.offset-0x5 {
	margin-left: 4.16%;
}
.col-0x75 {
	flex:0 0 6.25%; max-width: 6.25%;
}
.offset-0x75 {
	margin-left: 6.25%;
}
.col-1x25 {
	padding: 0px 15px; flex:0 0 10.41%; max-width: 10.41%;
}
.col-2x25 {
	padding: 0px 15px; flex:0 0 20.41%; max-width: 20.41%;
}
.offset-1x25 {
	margin-left: 10.41%;
}
.col-1x5 {
	padding: 0px 15px; flex:0 0 12.5%; max-width: 12.5%;
}
.offset-1x5 {
	margin-left: 12.5%;
}
.col-1x75 {
	padding: 0px 15px; flex:0 0 14.58%; max-width: 14.58%;
}
.offset-1x75 {
	margin-left: 14.58%;
}
.col-2x25 {/*QTN*/
	padding: 0px 15px; flex:0 0 20.41%; max-width: 20.41%;
}
/*###03 BEGIN */
.rcl-message {
	padding-top: 0px !important; padding-bottom: 0px !important; margin-top: 0px !important; margin-bottom: 0px !important;
}
.rcl-messageCode {
	padding-top: 0px !important; padding-bottom: 0px !important; margin-top: 0px !important; margin-bottom: 0px !important;
}
.rcl-messageCode {
	font-size: 0.75rem; font-weight: 300;
}
/*###03 END */
/* Insert for edit dialog style follow RCL commented 24/12/2018*/
.ui-widget-header {
	background: rgb(61, 119, 203);
}
.ui-widget.ui-widget-content {
	border: 1px solid rgb(61, 119, 203); border-image: none;
}
.ui-button {
	background: rgb(134, 135, 139); padding: 0px 15px; border-radius: 0.2rem; border: 0px currentColor; border-image: none; width: auto; height: 18px; color: rgb(255, 255, 255); font-weight: normal; box-shadow: 1px 1px 5px 0px rgba(163,163,163,1); -webkit-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1); -moz-box-shadow: 1px 1px 5px 0px rgba(163, 163, 163, 1);
}
.ui-button:hover {
	background: rgb(214, 223, 253); border: 0px currentColor; border-image: none; color: rgb(61, 119, 203); cursor: pointer;
}
.ui-button .ui-icon {
	background-image: url("/QTNWebApp/js/libs/images/ui-icons_ffffff_256x240.png");
}
.ui-widget-content {
	border: 1px solid rgb(61, 119, 203); border-image: none;
}
/*###04 BEGIN Styles for popover dialog */
/*Style of column headers*/
.rclPopoverColumnHdr {
	border-color: black !important; margin: 0px; padding: 3px 5px 3px 3px !important; text-align: center; color: white; font-weight: bold; background-color: grey;
}
/*Style of field names and valuees */
.rclPopoverElement {
	border-style: inset !important; margin: 0px; padding: 3px 5px 3px 3px !important;
}
/*Style of field names and valuees */
.rclPopoverLabel {
	border-style: inset !important; margin: 0px; padding: 3px 5px 3px 3px !important;
}
/* The field names have bold*/
.rclPopoverLabel {
	font-weight: bold;
}
/* style of even numbered rows*/
.rclPopoverElementEven {
	border-color: grey !important; color: rgb(65, 64, 64); background-color: lightgrey;
}
/* style of odd numbered rows*/
.rclPopoverElementOdd {
	border-color: grey !important; color: white; background-color: darkgrey;
}
.rclPopoverCol1 {
	width: 100px;
}
.rclPopoverCol2 {
	width: 150px;
}
/* d99Popover-dlg is the id of the popover dialog box */
#d99Popover-dlg {
	display: flex; justify-content: center;
}
/*The below trick to let tbody scroll but freeze thead comes from https://medium.com/@vembarrajan/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc */
/* d99Detail is the id of <table> inside the popover dialog*/
#d99Detail thead {
	width: 250px; display: table;
}
#d99Detail tbody {
	width: 267px; overflow: auto; display: block; max-height: 300px;
}
/* This class is attached to any even row (index based 0) in a power table (the tblRow itself) and removed from odd rows*/
.rptEvenRow {
	background-color: rgb(248, 249, 250);
}
/* This class is attached to any odd row (index based 0) in a power table (the tblRow itself) and removed from even rows*/
.rptOddRow {
	background-color: white;
}
/*###04 END Styles for popover dialog */
/*###05 BEGIN Styles for lookup*/ 
#t99Lookup-dlg {
	border: 1px solid rgb(106, 120, 150); border-image: none; font-size: 10px; -ms-overflow-x: auto; -ms-overflow-y: hidden; box-sizing: content-box;
}
.rcl-lkHeader {
	padding-left: 15px;
}
.rcl-lkHeaderRow {
	margin: 0px; display: flex; flex-wrap: nowrap;
}
.rcl-lkHeaderCell {
	padding: 3px; border: 1px solid rgb(106, 120, 150); border-image: none; font-weight: bold; flex-grow: 0; flex-shrink: 0;
}
.rcl-lkArea {
	height: 400px; -ms-overflow-y: scroll;
}
.rcl-lkAreaRow {
	margin: 0px; display: flex; flex-wrap: nowrap;
}
.rcl-lkAreaCell {
	padding: 3px; border: 1px solid rgb(106, 120, 150); border-image: none; -ms-word-wrap: break-word; flex-grow: 0; flex-shrink: 0;
}
#t99paging {
	width: 450px; padding-right: 15px;
}
/*###05 END Styles for lookup */
/*###06 Right align numbers */
[data-ct='bt-number'] {
	text-align: right;
}
[data-type='number'] {
	text-align: right;
}
/*###07 */
[type='checkbox'] {
	vertical-align: middle;
}
/* ###08 BEGIN Classes for MultiSelect */
.selectize-control{
	border: 0;
	padding:0;
}
.selectize-input {
	padding-top:0 !important;
	padding-bottom:0 !important;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
	font-size:10px !important;
	line-height:15px !important;
	border: 1px solid #3366FF;
	font-style: normal !important;
	font-weight: normal !important;
}
.selectize-control.multi,
.selectize-input > div {
	margin:0px 2px 0px 0px  !important;
	padding: 0px 2px 0px 2px !important;
}
.selectize-control.multi,
.selectize-input.has-items{
	padding:0px 0px 0px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
	padding-top:0px ;
}
.selectize-control.multi .selectize-input [data-value] {
	background-image: linear-gradient(to bottom, #b5d2ec, #5d9dd5);
	/*ELS has background-color rgb(242,242,242);background-image:none;*/
}
.selectize-dropdown {
	border: 1px solid #3366FF !important;
}
/* ###08 END */
/* ###09 BEGIN Classes for slider and spinner*/
/* The display of the minimum value */
.rcl-sliderMin  {
    display:block;    
}
/* The display of the maximum value */
.rcl-sliderMax {
    display:block;  
    text-align:right;
}
/*The label of a slider*/
.rcl-sliderLabel {
    display:block;  
    margin:0 auto;
    text-align:center;
}
/*Ensure that the slider has same height then a ususal rcl standard form control*/
.rcl-sliderTD {
    padding-top:0;
    padding-bottom:0;
}
/* Support spinner */
.rcl-spinner {
    -webkit-appearance: none;
    font-size:8px;
    width:16px;
    height:8px;
    color:grey;
    background-color:lightgrey;
    padding:0;
    margin:0;
    text-align:center;
    border-style:solid;
    border-color:grey;
    border-width:0.5px;        
}
/* ###09 END */
/* ###10 BEGIN Classes for RadioGroups */
/*
Cases
   Box  Legend/GroupLable
A   Y       Y   Should show in same row as a rcl:text or rcl:select with lable
B   Y       N   Should show in same row as a rcl:text or rcl:select with lable
C   N       N   Should show in same row as a rcl:text or rcl:select without lable
D   N       Y   Should become Case C + a <label> on top

*/
/*The box around a group of radio buttons */
.rcl-radioFieldset { 
    border-radius: .2rem;
    background:inherit;
    border: 1px solid #3366FF;
    padding-inline-start:3px;
    margin-inline-start:0px;
    padding-inline-end:3px;
    margin-inline-end:0px;
    /* Case A box with legend
    /* Case B box without legend  */
    /* Case C => rcl-radioFieldsetNoBoxButLabel */
    /* Case D is not relevant */
    padding-top:1px;
    padding-bottom:0;
} 
.rcl-radioFieldsetNoBoxButLabel{
    border-color:white;    
}
/*The title of the box around a group of radio buttons */
.rcl-radioLegend {
    font-size:10px;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:0px;
    margin-left:8px;
    margin-bottom:0px;
    margin-top:0;
    width:auto;
}
.rcl-radioLegendNoBoxButLabel{
    padding-left:0px;    
    margin-left:0px;
}
/*A group of radio buttons */
.rcl-radioGroup {
    display:flex;
    justify-content:flex-start;
}
/*A single radio button */
.rcl-radioButton {
    flex-basis:auto;
    height:10px; /* same as fontsize */
    width:10px;
    /*Case B with box, but no legend
    /*Case C no box, no legend */
    margin-top:2px;
    margin-left:3px;
    margin-right:3px;
}
/* Used to hide a standard radio button in order to display a fas, image or trafic light*/
.rcl-radioButtonHidden {
    position: absolute;
    left: -9999px;
}
.rcl-radioButtonHidden:checked+ label>i {
    border: 1px solid grey;
    background-color:lightgrey;
}
.rcl-radioButtonImage {
    border-width:1px;
    border-style: solid;
    border-color:white;
    margin-left:3px;
    margin-right: 5px;
}
/*The value to be displayed beside a radio button*/
.rcl-radioLabel {
    /* Case C */
    /* Case D */
    /*padding-top:2px;*/ /* this is for no box */
    /*padding-bottom:0px;*/ /* this is for no box*/
    /* Case A */
    /* Case B */
    /*padding-top:0px; */ /* this is with box but no legend */
    /*padding-bottom:3px;*/ /* this is with box but no legend*/
    margin-left:3px;
    margin-right: 2px;
    padding-left: 0px;
    padding-right: 0px;
    flex-basis:auto; /*content not supported by ie;*/
    white-space:nowrap; /* a space charwcter shall not create aline break*/
}
.rcl-radioLabelNoBox{ /*labels for radio buttons without a box around */
    padding-top:0px;
    padding-bottom:0px;
    margin-left:3px;
    margin-right: 2px;
}
.rcl-radioLabelWithBox{ /*labels for radio buttons WITH a box around */
    padding-top:0px; 
    padding-bottom:3px; 
    margin-right: 2px;
}
/* ###10 END */